max_rd_len=<Max Read Length across all reads both Mate Pair and PE>
[LIB]
 #average insert size
avg_ins=<Insert Size For PE>
 #if sequence needs to be reversed 
reverse_seq=0
 #use for contig building only
asm_flags=3
 #in which order the reads are used while scaffolding
rank=1
 #fastq files
q1=<Absolute Path to R1.fastq>
q2=<Absolute Path to R2.fastq>

[LIB]
avg_ins=<Insert Size for Smallest Mate Pair>
reverse_seq=1
asm_flags=2
rank=2
pair_num_cutoff=5
map_len=35
q1=<Absolute Path to R1.fastq>
q2=<Absolute Path to R2.fastq>

[LIB]
avg_ins=<Insert Size for Largest Mate Pair>
reverse_seq=1
asm_flags=2
rank=3
pair_num_cutoff=5
map_len=35
q1=<Absolute Path to R1.fastq>
q2=<Absolute Path to R2.fastq>